<% content_for :page_title do %>
  <%= t(".title") %>
<% end %>

<% content_for :card do %>
  <div class="form-card__header">
    <h1 class="form-card__title">
      <%= t('.title') %>
    </h1>
  </div>
  <%= form_with(model: @client, url: clients_path) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "text-input form-width--med "%>

    <%= f.label :middle_initial %>
    <%= f.text_field :middle_initial, class: "text-input form-width--short"%>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "text-input form-width--med"%>

    <%= f.submit "Continue", class: "button button--primary button--wide text--centered" %>
  <% end %>
<% end %>