<p>
  What state do you live in?
</p>

<select name="cars" id="cars">
  <% State.all.map do |state| %>
    <option value=<%= state.abbreviation %>><%= state.name %></option>
  <% end %>
</select>

<%= form_with model: @article do |form| %>
  <%= form.text_field :title %>
  <%= form.submit "Create" %>
<% end %>