<footer class="footer">
  <div class="slab slab--footer">
    <div class="grid">
      <div class="grid__item width-three-fourths footer-description">
        <p>
          <%=t("views.shared.footer.service_description_html")%>
        </p>
      </div>

      <ul class="grid__item width-one-fourth footer-links">
        <% if I18n.locale != :en %>
          <li>
            <%=t("general.english") %>
          </li>
        <% end %>
        <% if I18n.locale != :es %>
          <li>
            <%=t("general.spanish") %>
          </li>
        <% end %>
        <li>
          <%= link_to root_path do %>
            <%=t("views.public_pages.faq.title") %>
          <% end %>
        </li>

        <li>
          <%=t("views.public_pages.resources.title") %>
        </li>

        <li>
          <%=mail_to "support@rightsrestoration.org" %>
        </li>
      </ul>
    </div>
  </div>
</footer>
