<% content_for :page_title do %>
  <%= t(".title") %>
<% end %>

<% content_for :card do %>
  <div class="form-card__header">
    <h1 class="form-card__title">
      <%= t(".card_title_html", state: @state.name) %>
    </h1>
  </div>

  <div class="vertical-steps">
    <div class="vertical-steps__step">
      <div class="emoji emoji--big emoji--clipboard"></div>
      <h3><%= t(".step_one.title_html") %></h3>
      <p class="text--small with-padding-small"><%= t(".step_one.body") %></p>
    </div>
    <div class="vertical-steps__step">
      <div class="emoji emoji--big emoji--mail-open"></div>
      <h3><%= t(".step_two.title_html") %></h3>
      <p class="text--small with-padding-small"><%= t(".step_two.body") %></p>
    </div>
    <div class="vertical-steps__step">
      <div class="emoji emoji--big emoji--fist"></div>
      <h3><%= t(".step_three.title_html") %></h3>
      <p class="text--small with-padding-small"><%= t(".step_three.body") %></p>
    </div>
  </div>

  <div class="form-card__footer">
    <p>
      <%= link_to felony_nums_path, class: "button button--primary" do %>
        <%= t(".button") %> <i class="icon icon-arrow_forward"></i>
      <% end %>
    </p>
  </div>
<% end %>